DP_PG_DSN=postgresql://dp:dp@localhost:5432/data_platform
DP_RAW_ZONE_PATH=./data_platform/raw
DP_ICEBERG_WAREHOUSE_PATH=./data_platform/iceberg/warehouse
DP_DUCKDB_PATH=./data_platform/duckdb/data_platform.duckdb
DP_ICEBERG_CATALOG_NAME=data_platform
DP_ENV=dev
